<!doctype html>
{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}


  <h2>Client</h2>
    <hr>
    <h3>Show Account Info</h3>
    <form action="{{ url_for('client') }}" method=post>
      <dl>
        <dt>User id:
        <dd><input type=text name=user_id value={{u_id}}>
        <dd><input type=submit value='Show Account Info' name=sai>
      </dl>
    </form>

    {% for item in client_info %}
      {{item}}
    {% endfor %}

    <hr>
    <h3>Show Call History</h3>
    Eisagete to id tou logariasmou
    <form action="{{ url_for('client') }}" method=post>
      <dl>
        <dt>Bill id:
        <dd><input type=text name=bill_id>
        <dt>Date:
        <dd><input type=date name=date>
        <dt>Called Number:
        <dd><input type=text name=called_number>
        <dd><input type=submit value='Show Call History' name=sch>
      </dl>
    </form>

    {% for call_obj in call_history %}
      <strong>Call:</strong>
      Called Number: {{call_obj.called_number}}
      Call Duration: {{call_obj.call_dur}}
      Call Date and Time: {{call_obj.call_date}}
      <br>
    {% endfor %}

    <hr>
    <h3>Execute Payment</h3>
    <form action="{{ url_for('client') }}" method=post>
      <dl>
        <dt>User id:
        <dd><input type=text name=user_id>
        <dt>Payment Amount:
        <dd><input type=numeric name=pay_amt>
        <dd><input type=submit value='Execute Payment' name=ep>
      </dl>
    </form>
    <hr>
  </br>

{% endblock %}

  <!-- <p class=user_id_arg>User ID:{{user_id_arg}}</p> -->

      <!-- <ul>
        <li> <a href="{{ url_for('getAccountInfoController') }}">Get Acount Info</a></li>
        <li><a href="{{ url_for('showCallHistoryController') }}">Show Call History</a></li>
        <li><a href="{{ url_for('executePaymentController') }}">Execute Payment</a></li>
        <li>Execute payment</li>
      </ul> -->
